<% object = show[:object] %>

<% if enclosedById %>
<span id="<%= object.object_name %>" class="event_note">
<% end %>

	<%= object.title %>
<%=
  if showModifier
    locals = { }
    locals[:parent] = parent if defined? parent
    render :partial => 'application/modifier', :object => show, :locals => locals
  end
%>

	<pre><%= object.note %></pre>

<% if enclosedById %>
</span>
<% end %>

<br />