<%= form_tag({ :action => "createp" }, { :remote => true } ) do %>

<%= hidden_field 'form', 'parentName', :value => parentName if defined? parentName %>
<%= hidden_field 'form', 'topName', :value => topName if defined? topName %>

<table>
<tr><td>Datum</td><td><%= text_field("event_date", "date") %></td></tr>
</table>

<input type="submit" value="Save">
<% end %>
