<% if enclosedById %>
<span id="<%= showp[:object].object_name %>" class="event_date">
<% end %>

<%=
  if defined?  showFull and showFull
    showp[:object].date
  else
    link_to showp[:object].date, :controller => showp[:object].controller, :action => 'show', :id => showp[:object].id
  end
%>

<%=
  if showModifier
    locals = {
    }
    locals[:parent] = parent if defined? parent
    render :partial => 'application/modifier', :object => showp, :locals => locals
  end
%>

<br />

<% if defined? showFull and showFull %>	
  <%= render :partial => "references/related", :object => showp, :locals => { } %>
<% end %>

<% if enclosedById %>
</span>
<% end %>
