<% if options[:enclosedById] %>
<span id="<%= showp[:object].object_name %>">
<% end %>

<%=
  if options[:showFull]
    showp[:object].date
  else
    link_to showp[:object].date, :controller => showp[:object].controller, :action => 'show', :id => showp[:object].id
  end
%>

<%=
  if options[:showModifier]
    render :partial => 'application/modifier', :object => showp, :locals => { :options => options }
  end
%>

<br />

<% if options[:showFull] %>	
  <%= render :partial => "references/related", :object => showp, :locals => { } %>
<% end %>

<% if options[:enclosedById] %>
</span>
<% end %>
