<% if enclosedById %>
<span id="<%= show[:object].object_name %>" class="event_date">
<% end %>

<%= show[:object].date %>

<%=
  if showModifier
    locals = {
    }
    locals[:parent] = parent if defined? parent
    render :partial => 'application/modifier', :object => show, :locals => locals
  end
%>

<% if enclosedById %>
</span>
<% end %>

<br />
