<% object = show[:object] %>

<% if enclosedById %>
<span id="<%= object.object_name %>" class="<%= obj_class %>">
<% end %>

<%= object.one_line %>

<%=
  if showModifier
    locals = { }
    locals[:parent] = parent if defined? parent
    render :partial => 'application/modifier', :object => show, :locals => locals
  end
%>

<% if enclosedById %>
</span>
<% end %>

<br />
