<%= application_modal_dialog("Tagga bild") do %>
  <table>
    <tr>
      <td style="align-vertical:top">
        <div>
          <%= image_tag(url_for(:controller => tag.controller, :id => tag.id, :action => 'image'), 'data-tagable' => 'true', :id => 'tag_image') %>
        </div>
      </td>
      <td style="align-vertical:top">
        <%= application_search_form(submitAction: { :controller => 'references',
                                                    :action => "connection_add" },
                                    filterHiddenFields: { ignoreName: tag.object_name },
                                    updateListName: tag.object_name + '_list',
                                    listHiddenFields: { x: 0,
                                                        y: 0,
                                                        w: 0,
                                                        h: 0,
                                                        connect1Id: tag.object_name }) %>
      </td>
    </tr>
  </table>
<% end %>
