<table>
<tr>
<td>
Personer
</td>
<td>
Händelser
</td>
</tr>
<tr>
<td>
<%= select('form', 'connect2Id', @people.collect {|p| [ p.long_name, p.object_name ] }, {:include_blank => 'None'}, {:size => 10 }) %>
</td>
<td>
<% @events.each do |event| %>
<%=
  options = 
	  {
	    :controller => 'references',
	    :action => 'connection_add',
	    :connect1Id => connect1Id,
	    :connect2Id => event.object_name
	  }
  options[:showFull] = showFull if defined? showFull
  link_to event.name, options, { :remote => true }
%>
<br />
<% end %>
</td>
</tr>
</table>