<% if options[:enclosedById] %>
<span id="<%= showp[:object].object_name %>">
<% end %>

<% if options[:showFull] %>
<%=  render :partial => showp[:object].controller + '/showfullp', :object => showp, :locals => { :options => options } %>
<% else %>
<%=  render :partial => showp[:object].controller + '/showlimitedp', :object => showp, :locals => { :options => options } %>
<% end %>

<% if options[:showFull] %>
<%=  render :partial => "references/related", :object => showp, :locals => { } %>
<% end %>

<% if options[:enclosedById] %>
</span>
<% end %>
