<div data-eventsource="<%= url_for :action=>'status', :id=>@export.id %>"></div>
<h1><%= @export.file_name %></h1>
<%= link_to @export.file_name, { controller: 'exports', id: @export.id, action: 'file' } %>
<div id="status">
</div>
